/* body {
	font-size: 16px;
	font-weight: normal;
}

.center-container {
	width: 300px;
	margin: 50px auto auto auto;
	background-color: rgb(195, 233, 233);
	padding: 10px;
}

.editor-toolbar {
	width: 100%;
	height: 50px;
	background-color: rgb(146, 206, 224);
	margin-bottom: 10px;
}

.editor-button {
	background-color: rgb(177, 194, 204);
	width: 40px;
	height: 40px;
	font-size: 24px;
	vertical-align: middle;
	margin-top: 5px;
}

.toggled {
	background-color: rgb(210, 229, 241);
}

.editor-button:first-of-type {
	margin-left: 5px;
}

.editor-box {
	height: 400px;
	background-color: rgb(245, 239, 233);
	padding: 5px;
}

.f2 {
	font-size: 16px;
}

.f3 {
	font-size: 20px;
}

.f4 {
	font-size: 24px;
}

.b {
	font-weight: bold;
}

.i {
	font-style: italic;
} */

body {
	margin: 0;
	height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(156, 175, 183, 0.4) 43.23%,
		#9cafb7 100%
	);
}

.button-label {
	visibility: hidden;
	position: absolute;
	background-color: #8f8a88;
	color: white;
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	white-space: nowrap;
	font-size: 14px;
	padding: 2px 4px 2px 4px;
	margin-top: 3px;
	border-radius: 3px;

	transition-delay: 0;
}

.main-toolbar-button:hover .button-label,
.editor-toolbar-button:hover .button-label,
.note-toolbar-button:hover .button-label {
	visibility: visible;
	transition-delay: 300ms;
	z-index: 5;
}

.main-toolbar {
	margin: 20px auto 0 auto;
	height: 66px;
	width: 461px;
	display: flex;
	flex-direction: row;
}

.main-toolbar-button {
	position: relative;
	width: 66px;
	border-radius: 50%;
	background-color: #f4f3ee;
	margin-left: 13px;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 4px 4px rgba(138, 129, 124, 0.25);
}

.main-toolbar-button:hover {
	filter: brightness(105%);
}

.main-toolbar-button:active {
	filter: brightness(90%);
}

.main-toolbar-button:first-of-type {
	margin-left: 0;
}

.mtb-icon {
	color: #e0afa0;
}

.editor-toolbar {
	margin: 26px auto 0 auto;
	height: 36px;
	width: 639px;
	display: flex;
	flex-direction: row;
}

.editor-toolbar-button {
	position: relative;
	width: 36px;
	border-radius: 5px;
	background-color: #f4f3ee;
	margin-left: 10px;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 5px;

	box-shadow: 0px 1px 1px rgba(138, 129, 124, 0.72);
}

.editor-toolbar-button:first-of-type {
	margin-left: 0;
}

.button-text-size {
	width: 118px;
}

.button-text-align {
	width: 97px;
}

.etb-icon {
	color: #4281a4;
	margin-left: 5px;
}

.etb-icon:hover {
	color: #6cabce;
}

.etb-icon:active {
	color: #2e6481;
}

.etb-icon:first-of-type {
	margin-left: 0;
}

.grid {
	margin: 27px 60px auto 60px;
	position: relative;
}

.item {
	display: block;
	position: absolute;
	z-index: 1;
}

.item.muuri-item-dragging {
	z-index: 3;
}

.item.muuri-item-releasing {
	z-index: 2;
}

.item.muuri-item-hidden {
	z-index: 0;
}

.note {
	position: relative;
	width: 240px;
	min-height: 120px;
	background-color: #fffdf9;
	border: 1px solid #9a9a9a;
	border-radius: 5px;
	margin-left: 20px;

	box-shadow: 2px 2px 2px 0px #8a817c49;
}

.note-content {
	margin: 8px 8px 8px 8px;
	min-height: 120px;
	max-height: 240px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin;

	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.note-content.auto-height {
	max-height: unset;
	overflow: visible;
}

.note-toolbar {
	position: relative;
	display: flex;
	flex-direction: row;
	opacity: 1;
	margin: 8px 8px 8px 8px;

	transition: opacity 300ms;
	transition: height 300ms;
}
/* 
.note-toolbar:hover {
	opacity: 1;
	height: 18px;
	margin: 8px 8px 8px 8px;
}

.note-toolbar-dummy {
	position: absolute;
	bottom: -8px;
	left: 0;
	width: 100%;
	height: 18px;
	opacity: 0;
}

.note-toolbar-dummy:hover {
	height: 36px;
} */

.note-toolbar-button {
	position: relative;
	width: 18px;
	background: transparent;
	margin-left: 12px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.note-toolbar-button:first-of-type {
	margin-left: 0;
}

.ntb-icon {
	color: #4281a4;
}

.resizer-bottom {
	opacity: 0;
	position: absolute;
	left: 50%;
	bottom: -6px;
	transform: translate(-50%, 0);
	cursor: n-resize;
}

.resizer-right {
	opacity: 0;
	position: absolute;
	right: -3px;
	top: 50%;
	transform: translate(0, -50%);
	cursor: e-resize;
}

.resizer-bottom:hover,
.resizer-right:hover {
	opacity: 1;
}

.sort-filter-menu {
	position: absolute;
	width: 504px;
	margin-top: 10px;
	padding-top: 22px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 10px;
	background-color: #fffdf9;
	border: 1px solid #9a9a9a;
	z-index: 10;
}

.sort-filter-menu-button {
	position: relative;
	height: 53px;
	margin: 0 18px 10px 18px;
	border-radius: 5px;
	background-color: #f5ddaf;

	font-family: "Roboto", sans-serif;
	font-size: 36px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sort-filter-menu-button-inactive {
	background-color: #fff7e8;
	color: #6c635e;
}

.sort-filter-menu-icon {
	width: 30px;
	height: 30px;
	margin-bottom: 8px;
	padding-left: 12px;
}

.sort-filter-menu-button span {
	padding-left: 12px;
}

.sort-filter-submit-button {
	background-color: #e0afa0;
	margin: 50px 18px 10px auto;
	width: 147px;
	justify-content: center;
}

.sort-filter-submit-button span {
	padding-left: 0px;
}

.sort-filter-by-date-container {
	/* background-color: #e1d9ca;
	width: 408px;
	height: 156px; */
}

.tag-container {
	height: 0;
	opacity: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	transition: height 300ms;
	transition: opacity 300ms;
	transition: margin 300ms;
}

.tag-container-show {
	height: auto;
	opacity: 1;
	margin: 10px 8px 4px 8px;
}

.tag-box {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 12px;

	background-color: #e0afa0;
	padding: 2px 4px 2px 4px;
	margin: 0 0 4px 6px;
}

.color-container {
	width: 354px;
	height: 84px;
	background-color: #fffdf9;
	border-radius: 5px;
}

.color-button {
	display: inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-left: 6px;
	margin-top: 9px;
}

.color-button:first-child {
	margin-left: 9px;
}

.color-button:last-child {
	margin-right: 9px;
}
