/* body {
	font-size: 16px;
	font-weight: normal;
}

.center-container {
	width: 300px;
	margin: 50px auto auto auto;
	background-color: rgb(195, 233, 233);
	padding: 10px;
}

.editor-toolbar {
	width: 100%;
	height: 50px;
	background-color: rgb(146, 206, 224);
	margin-bottom: 10px;
}

.editor-button {
	background-color: rgb(177, 194, 204);
	width: 40px;
	height: 40px;
	font-size: 24px;
	vertical-align: middle;
	margin-top: 5px;
}

.toggled {
	background-color: rgb(210, 229, 241);
}

.editor-button:first-of-type {
	margin-left: 5px;
}

.editor-box {
	height: 400px;
	background-color: rgb(245, 239, 233);
	padding: 5px;
}

.f2 {
	font-size: 16px;
}

.f3 {
	font-size: 20px;
}

.f4 {
	font-size: 24px;
}

.b {
	font-weight: bold;
}

.i {
	font-style: italic;
} */

body {
	margin: 0;
	height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(156, 175, 183, 0.4) 43.23%,
		#9cafb7 100%
	);
}

.main-toolbar {
	margin: 20px auto 0 auto;
	height: 66px;
	width: 461px;
	display: flex;
	flex-direction: row;
}

.main-toolbar-button {
	width: 66px;
	border-radius: 50%;
	background-color: #f4f3ee;
	margin-left: 13px;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0px 4px 4px rgba(138, 129, 124, 0.25);
}

.main-toolbar-button:first-of-type {
	margin-left: 0;
}

.mtb-icon {
	color: #e0afa0;
}

.editor-toolbar {
	margin: 26px auto 0 auto;
	height: 36px;
	width: 639px;
	display: flex;
	flex-direction: row;
}

.editor-toolbar-button {
	width: 36px;
	border-radius: 5px;
	background-color: #f4f3ee;
	margin-left: 10px;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 5px;

	box-shadow: 0px 1px 1px rgba(138, 129, 124, 0.72);
}

.editor-toolbar-button:first-of-type {
	margin-left: 0;
}

.button-text-size {
	width: 118px;
}

.button-text-align {
	width: 97px;
}

.etb-icon {
	color: #4281a4;
	margin-left: 5px;
}

.etb-icon:first-of-type {
	margin-left: 0;
}

.canvas {
	margin: 27px 60px auto 60px;
	height: auto;
	display: flex;
	flex-direction: row;
}

.note {
	position: relative;
	width: 240px;
	height: 360px;
	background-color: #fffdf9;
	border-radius: 5px;
	margin-left: 20px;

	box-shadow: 2px 2px 2px 0px #8a817c49;
}

.note-content {
	margin: 8px 8px 0px 8px;
	min-height: 315px;

	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.note-toolbar {
	margin: 9px auto 0 auto;
	height: 18px;
	width: 228px;
	display: flex;
	flex-direction: row;
}

.note-toolbar-button {
	width: 18px;
	background: transparent;
	margin-left: 12px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.note-toolbar-button:first-of-type {
	margin-left: 0;
}

.ntb-icon {
	color: #4281a4;
}

.expand-tags {
	margin: 1px auto 0 auto;
	display: flex;
	justify-content: center;
}

.resize-note {
	position: absolute;
	right: 3px;
	bottom: 0;
}
